$color-primary: #5a73fc;
$color-primary-light:#8e9efc;
$color-primary-dark:#1c3eff;

//abstracts/_variables.scss
$color-secondary-light: #ffb900; //Màu Cam
$color-secondary-dark: #ff7730;

$color-tertiary-light:#55c57a; // Màu xanh lá cây
$color-tertiary-dark:#28b485;

$color-grey-light-1: #f7f7f7;

$color-grey: #777777;
$color-white: #fff;
$color-black: #000;

$color-grey-dark-1: #333;

$grid-width: 114rem;
$gutter-vertical: 8rem;    // margin bottom giữa các row
$gutter-horizontal: 6rem;   // giá trị khoảng cách giữa các column
// abstracts/_variables.scss
$default-font-size: 1.6rem;
