@import './abstracts/variable';
@import './abstracts/mixins';
@import './abstracts/functions';

@import './base/animations';
@import './base/base';
@import './base/animations';
@import './base/typography';
@import './base/utilities';

@import './components/buttons';
@import './components/composition';
@import './components/skill-box';
@import './components/card';
@import './components/testimonials';
@import './components/bg-video';
@import './components/form';
@import './components/popup';

@import './layout/header';
@import './layout/gird';

@import './pages/home';