.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 2.5rem;
    margin-top: -25rem;
}
// pages/_home.scss
.section-skills{
    margin-top: -20rem;
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, .8),
    rgba($color-primary-dark, .8)),
    url("../img/background2.jpg");
    background-size: cover;
    position: relative;
    clip-path: ellipse(70% 50% at 50% 50%);
}
.section-courses{
    background-color: $color-grey-light-1;
    padding: 25rem 0 10rem 0;
    margin-top: -20rem;
}

.section-testimonials {
    position: relative;
    padding: 5rem 0;
}
// pages/_home.scss
.section-enroll{
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}
//page/_home.scss
.enroll {
    background-image: 
     radial-gradient( 150% 200% ellipse at -15%,
         rgba($color-white, .8) 50%,
         transparent 50%),
     url("../img/background3.jpg");
     background-size: cover;
     box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
     border-radius: 5rem;
     height: 50rem;
     &__form{
        padding: 6rem;
    }
}
.footer{
    background-color: $color-grey-dark-1;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;
    

    &__logo-box{
         text-align: center;
         margin-bottom: 8rem;
    }

    &__logo{
        width: 20rem;
        height: auto;
    }

    &__navigation{
        border-top: 1px solid $color-grey-light-1;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list{
      list-style: none;
    }

    &__item{
      display: inline-block;

      &:not(:last-child){
          margin-right: 1.5rem;
      }
    }

    &__link{
          &:link,
          &:visited{
              color: $color-grey-light-1;
              background-color: $color-grey-dark-1;
              text-transform: uppercase;
              text-decoration: none;
              display: inline-block;
              border-radius: 5rem;
              transition: all .2s;
          }

          &:hover,
          &:active{
              color: $color-primary;
              box-shadow: 0 1rem 2rem rgba($color-black, .4);
              transform: rotate(5deg) scale(1.05);
          }
    }

    &__copyright{
        border-top: 1px solid $color-grey-light-1;
        padding-top: 2rem;
        width: 70%;
        float: right;
    }

    &__title{
        display: block;
        color: $color-primary;
    }
}
